$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Cabin);

@font-face {
  font-family: 'Museo Slab';
  src: url('./museoslab_500_macroman/Museo_slab_500_2-webfont.ttf');
}

$beige: #dde0d8;
$slate: #324554;
// $slate: #4c4d5f;
$dark-grey: #717580;
$medium-grey: #a9a9a9;
$light-grey: #efefef;
$sky: #caebf2;
$white: #fff;

body {
  background-color: $light-grey;
}

.logo {
  margin: 0 auto;
  width: 40%;
}

.login-incomplete {
  color: $slate;
}

.navbar {
  background-color: $white;
  font-family: 'Raleway';
  font-size: 24px;
}

.btn {
  background-color: $medium-grey;
}

.btn:hover {
  background-color: $dark-grey;
}

.btn:active {
  background-color: $dark-grey;
}

p {
  color: $slate;
}

form {
  font-family: 'Roboto Condensed';
  font-size: 20px;
}

h2 {
  font-family: 'Roboto Condensed';
  font-size: 24px;
}

h3 {
  font-size: 24px;
}

.well {
  box-shadow: 1px 1px 2px $dark-grey, 0 0 25px $sky, 0 0 5px $medium-grey;
  height: 300px;
  margin: 10px;
}

.homepage-image {
  width: 25%;
  margin: 0px auto;
}

.beer-can-homepage {
  width: 100%;
  margin: 0px auto;
}

.create-edit-beer {
  background-color: $sky;
  color: #212121;
}

.profile-display {
  font-family: 'Raleway';
}

.add-beer-button {
  width: 65px;
}

.handlebars-container {
  margin: 0 auto;
  width: 100%;
}

li {
  list-style-type: none;
}

.rightNavButton {
  background-color: $white;
  border-style: none;
  text-align: center;
}

#create-beers-button {
  margin-left: 260px;
  margin-top: -120px;
}

.beer-display {
  margin: 0 auto;
  width: 80%;
}

#create-my-profile {
  width: 60%;
  margin: 0 auto;
}

#edit-my-profile-form {
  margin: 0 auto;
  width: 60%;
}

.form-control {
  margin: 10px 0;
}

.beerImage {
  max-width: 200px;
  padding: 5px;
}
