$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://fonts.googleapis.com/css?family=Cabin);

@font-face {
  font-family: 'Museo Slab';
  src: url('./museoslab_500_macroman/Museo_slab_500_2-webfont.ttf');
}

$beige: #dde0d8;
$slate: #324554;
$dark-blue: #14146c;
$dark-grey: #717580;
$medium-grey: #a9a9a9;
$light-grey: #efefef;
$sky: #caebf2;
$white: #fff;

body {
  background-color: $light-grey;
}

.homepage-image {
  margin: 0 auto;
  width: 25%;
}

.beer-can-homepage {
  margin: 0 auto;
  width: 100%;
}

.logo {
  margin: 20px auto 10px;
  width: 40%;
}

.login-incomplete {
  color: $slate;
}

.navbar {
  background-color: $white;
  font-family: 'Raleway';
  font-size: 24px;
}

.btn {
  background-color: $medium-grey;
}

.btn:hover {
  background-color: $dark-grey;
}

.btn:active {
  background-color: $dark-grey;
}

form {
  font-family: 'Roboto Condensed';
  font-size: 20px;
}

h2 {
  font-family: 'Roboto Condensed';
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 22px;
}

p {
  color: $slate;
  font-size: 24px;
  line-height: 150%;
}

.well {
  box-shadow: 1px 1px 2px $dark-grey, 0 0 25px $dark-blue, 0 0 5px $medium-grey;
  height: 300px;
  margin: 10px;
}

.beerEditDeleteButtons {
  margin: 0 auto;
  position: absolute;
  top: 250px;
  width: 90%;
}

.edit-beer-button {
  box-shadow: 2px 2px $dark-grey;
  font-size: 18px;
}

.delete-beer-button {
  box-shadow: 2px 2px $dark-grey;
  font-size: 18px;
}

.create-edit-beer {
  background-color: $sky;
  color: #212121;
}

.profile-display {
  font-family: 'Raleway';
  margin: 0 auto;
  width: 50%;
}

.add-beer-button {
  width: 65px;
}

.handlebars-container {
  margin: 0 auto;
  width: 100%;
}

li {
  list-style-type: none;
}

.rightNavButton {
  background-color: $white;
  border-style: none;
  text-align: center;
}

#create-beers-button {
  margin-left: 260px;
  margin-top: -120px;
}

.beer-display {
  margin: 0 auto;
  width: 80%;
}

#create-my-profile {
  margin: 0 auto;
  width: 50%;
}

#edit-my-profile-form {
  margin: 0 auto;
  width: 50%;
}

.form-control {
  margin: 10px 0;
}

.beerImage {
  box-shadow: 1px 1px 2px $dark-grey, 0 0 25px $light-grey, 0 0 5px $medium-grey;
  max-height: 160px;
  padding: 5px;
}
